---
import BaseLayout from "@layout/BaseLayout.astro";
import Icon from "@ui/icons/Icon.astro";
import Button from "@ui/Button.astro";
import type { WithContext, Thing } from "schema-dts";

export const pageContent = {
  errorCode: "404",
  title: "This page does not exist",
  description: "Sorry, we couldn't find the page you're looking for.",
  goBackLabel: "Go back",
};

const resources = [
  {
    title: "Knowledge Base",
    description: "Find answers to common questions.",
    icon: "info",
    link: "/support/knowledge-base",
  },
  {
    title: "Articles",
    description: "Explore insights and best practices.",
    icon: "articles",
    link: "/support/articles",
  },
  {
    title: "Whitepapers",
    description: "Read in-depth technical reports.",
    icon: "blankDocument",
    link: "/support/whitepapers",
  },
  {
    title: "Reference",
    description: "Browse technical documentation.",
    icon: "documentMagnifyingGlass",
    link: "/support/reference",
  },
];

const seo = {
  title: "Page Not Found - DataNova",
  description:
    "Sorry, we couldn't find the page you're looking for. Explore our resources or go back to the homepage.",
};

const schema: WithContext<Thing> = {
  "@context": "https://schema.org",
  "@type": "WebPage",
  inLanguage: "en-US",
  "@id": Astro.url.href,
  url: Astro.url.href,
  name: "Page Not Found",
  description:
    "Sorry, we couldn't find the page you're looking for. Explore our resources or go back to the homepage.",
  isPartOf: {
    "@type": "WebSite",
    url: `${Astro.site}`,
    name: "DataNova",
    description:
      "DataNova Analytics Inc. provides advanced analytics for Excel to help businesses unlock actionable insights quickly with no coding required.",
  },
};
---

<BaseLayout seo={seo} schema={schema}>
  <section
    class="grid min-h-full place-items-center px-6 pb-10 pt-32 sm:pt-48 lg:px-8"
  >
    <div class="text-center">
      <p class="text-xl font-semibold text-teal-600">
        {pageContent.errorCode}
      </p>
      <h1
        class="mt-4 text-balance text-4xl text-slate-800 sm:text-5xl md:text-6xl lg:text-7xl"
      >
        {pageContent.title}
      </h1>
      <p
        class="mt-6 text-pretty text-lg font-medium text-slate-500 sm:text-xl/8"
      >
        {pageContent.description}
      </p>
    </div>

    <div class="mx-auto w-full px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
      <div class="mx-auto w-full max-w-lg px-4 sm:px-6 lg:px-8">
        <ul class="divide-y divide-dashed divide-slate-300">
          {
            resources.map((resource) => (
              <li>
                <a
                  href={resource.link}
                  class="group flex gap-x-5 px-2 py-8 transition hover:bg-slate-100"
                >
                  <Icon name={resource.icon} class="size-6 text-teal-600" />
                  <div class="grow">
                    <h3 class="font-semibold text-slate-600 transition group-hover:text-teal-700">
                      {resource.title}
                    </h3>
                    <p class="mt-1 text-slate-500">{resource.description}</p>
                  </div>
                  <Icon
                    name="chevronRight"
                    class="self-center text-slate-400 transition"
                  />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="mt-5 flex items-center justify-center">
        <Button id="go-back" variant="primary">{pageContent.goBackLabel}</Button
        >
      </div>
    </div>
  </section>

  <script>
    document.addEventListener("astro:page-load", async () => {
      const goBackButton = document.getElementById(
        "go-back",
      ) as HTMLButtonElement;

      goBackButton.addEventListener("click", () => {
        history.back();
      });
    });
  </script>
</BaseLayout>
