---
import Icon from "@ui/icons/Icon.astro";

const text = "Introducing DataNova";
const linkText = "Now ready to try!";
const linkHref = "https://github.com/mearashadowfax/DataNova";
---
<div class="flex justify-center">
  <div class="rounded-xl bg-slate-50 shadow-md">
    <a
      href={linkHref}
      target="_blank"
      class="group flex h-9 w-fit items-center justify-center gap-0 rounded-xl transition duration-300"
      aria-label=`${text} - ${linkText}`
    >
      <div
        class="to-teal-700 from-teal-800 flex h-full w-fit items-center gap-2 rounded-xl bg-linear-to-tr/oklch px-3"
      >
        <span class="text-sm text-white">{text}</span>
      </div>
      <div
        class="hidden h-full w-fit items-center justify-center gap-2 px-3 sm:flex"
      >
        <span
          class="text-astro-slate-100 text-sm transition duration-300 group-hover:underline"
          >{linkText}</span
        >
        <Icon name="chevronRight" />
      </div>
    </a>
  </div>
</div>
