---
import Button from "@ui/Button.astro";

const title = "一生の友と、一生の成長を";
const subTitle =
  "StudentImpact とは学生たちによって運営される、学生のためのクリスチャンコミュニティです。学生向けの集会や交流イベントの開催をはじめ、キリスト教の価値観に基づいた人格形成や社会貢献を目指すプログラムを提供しています。SIジャパンは、学生一人ひとりが自分の持つ可能性を発見し、よりよい未来を創り出せるよう支援します。";
const secondaryCTA = { text: "初めての方", href: "https://github.com/mearashadowfax/DataNova" };
const primaryCTA = { text: "動画を見る", href: "/downloads/license-options" };
---

{/* Hero Content */}
<div class="mx-auto max-w-4xl select-none text-left sm:text-center">
  <h1
    class="block text-balance text-4xl text-teal-800 sm:text-5xl md:text-6xl lg:text-7xl"
  >
    {title}
  </h1>
</div>

<div class="mx-auto max-w-3xl text-left sm:text-center">
  <p class="text-pretty text-lg text-slate-700">
    {subTitle}
  </p>
</div>

{/* CTA Buttons */}
<div class="flex flex-col justify-center gap-5 sm:flex-row">
  <Button href={secondaryCTA.href} variant="secondary" target="_blank"
    >{secondaryCTA.text}</Button
  >
  <Button href={primaryCTA.href} variant="primary">{primaryCTA.text}</Button>
</div>
