---
import BaseLayout from "@layout/BaseLayout.astro";

import { getCollection } from "astro:content";

const articles = (await getCollection("articles")).toSorted(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

const urlPath = Astro.url;

export const pageContent = {
  pageTitle: "Articles",
  actionLabel: "Read more",
};
---

<BaseLayout>
  <section class="bg-linear-to-br/oklch from-teal-200 via-transparent to-white">
    <div class="mx-auto max-w-[85rem] px-4 pb-12 pt-48 sm:px-6 lg:px-8">
      <div class="max-w-7xl">
        <div class="mx-auto max-w-3xl lg:mx-0">
          <h1
            class="text-balance text-4xl text-slate-800 sm:text-5xl md:text-6xl lg:text-7xl"
          >
            {pageContent.pageTitle}
          </h1>
        </div>
      </div>
    </div>
  </section>
  <section
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 md:py-14 lg:px-8 lg:py-20"
  >
    <div class="grid grid-cols-1 items-center lg:grid-cols-3">
      {
        articles.map((item, index) => {
          const totalItems = articles.length;
          const itemsPerRow = 3;

          const isLastRow =
            Math.floor(index / itemsPerRow) ===
            Math.floor((totalItems - 1) / itemsPerRow);

          const borderClasses = isLastRow
            ? index % 3 === 0
              ? "border-none"
              : index % 3 === 1
                ? "lg:border-x"
                : ""
            : index % 3 === 0
              ? "border-b"
              : index % 3 === 1
                ? "border-b lg:border-x "
                : "border-b";

          return (
            <a
              class={`card group ${borderClasses}`}
              href={`${urlPath}/${item.id}`}
            >
              <div class="mb-5">
                <div class="mt-5">
                  <h3 class="mt-5 text-lg font-medium text-slate-800">
                    {item.data.title}
                  </h3>
                  <p class="mt-1 text-slate-500">{item.data.description}</p>
                </div>
              </div>
              <p class="mt-auto">
                <span class="border-b-2 border-slate-500 pb-1 text-sm font-medium text-slate-700 transition duration-300 focus:outline-hidden group-hover:border-teal-500 group-focus:border-teal-500">
                  {pageContent.actionLabel}
                </span>
              </p>
            </a>
          );
        })
      }
    </div>
  </section>
</BaseLayout>
