---
import Icon from "@ui/icons/Icon.astro";
import { supportMenu } from "@utils/megaMenu/support";
const currentPath = Astro.url.pathname;
---

<div
  class="hs-dropdown [--adaptive:none] [--is-collapse:true] [--strategy:static] xl:[--is-collapse:false] xl:[--strategy:absolute] xl:[--trigger:hover]"
>
  <button
    id="mega-menu-support"
    type="button"
    class={`hs-dropdown-toggle flex w-full items-center rounded-lg p-2 font-medium text-slate-800 hover:bg-slate-100 focus:bg-slate-100 focus:outline-hidden ${
      currentPath.startsWith("/support") ? "underline underline-offset-4" : ""
    }`}
    aria-haspopup="menu"
    aria-expanded="false"
    aria-label="Mega Menu"
  >
    Support <Icon name="arrowDownRight" />
  </button>

  <div
    class="hs-dropdown-menu relative start-0 top-full z-10 mt-2 hidden w-full min-w-60 max-w-(--breakpoint-md) opacity-0 transition-[opacity,margin] duration-150 before:absolute before:-top-5 before:start-0 before:h-5 before:w-full hs-dropdown-open:opacity-100 xl:left-1/2 xl:-translate-x-1/2 xl:duration-300"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="mega-menu-support"
  >
    <div
      class="from-teal-100 via-transparent to-white px-4 py-2 lg:mx-8 xl:mx-6 xl:rounded-lg xl:bg-white xl:bg-linear-to-t/oklch xl:px-16 xl:py-10 xl:shadow-lg xl:ring-1 xl:ring-teal-950/5"
    >
      <div
        class="gap-x-8 gap-y-4 md:grid md:grid-cols-2 xl:grid-cols-1 2xl:grid-cols-2"
      >
        {
          supportMenu.map((section) => (
            <div class="flex flex-col">
              <p class="text-sm text-slate-600">{section.sectionTitle}</p>
              <hr class="mb-5 w-3/4 border border-teal-300" />
              <div class="xl:grid xl:grid-cols-2 2xl:block">
                {section.items.map((item) => (
                  <a
                    class="flex gap-x-4 rounded-lg p-3 hover:bg-slate-100 focus:bg-slate-100 focus:outline-hidden"
                    href={item.href}
                  >
                    <Icon name={item.icon} class="mt-1 size-5 shrink-0 text-slate-800" />

                    <div class="grow">
                      <p class="text-sm font-medium text-slate-800">
                        {item.title}
                      </p>
                      <p class="text-sm text-slate-500">{item.description}</p>
                    </div>
                  </a>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
